@charset "utf-8";
/* CSS Document */
body {
  background-color: #FFFFFF ;
}

.login {
  margin: 60px auto;
  width: 350px;
  padding: 30px 25px;
  background-color: #5D00B9;
  border: 1px solid #FFFFFF;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: black;
  text-align:center;
  background: #FFFFFF;
 
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:white;
    outline: none;
  }

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}
